#title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(4, 128, 0);
    color: white;
    font-size: xx-large;
    margin-bottom: 0px;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Cambié 50vh a 100vh para ocupar toda la altura vertical */
    max-width: 100%;
    overflow: hidden;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10%;
}

.button-container button {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 2rem; /* Añadí este margen inferior para separar el botón del pie de página */
}


button {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: rgb(255, 255, 255); /* Cambia el color del texto del botón */
    background-color: rgb(255, 0, 0); /* Cambia el color de fondo del botón */
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(255, 0, 0); /* Cambia el color de fondo del botón al pasar el ratón sobre él */
}


#watch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(4, 128, 0);
    color: rgb(4, 128, 0);
    border-radius: 50%;
    font-family: monospace;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.headerImg {
    padding-top: 20px;
    max-width: 500px; /* Ajusta el tamaño máximo de la imagen según sea necesario */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(4, 128, 0);
    color: white;
    font-size: larger;
}

body {
    background-color: #434343;
    color: #fafafa;
    font-family: "Ubuntu Condensed";
    font-size: 30px;
    font-weight: 700;
    overflow-x: hidden;
}

.widget-EventList {
    width: 520px;
    height: 350px;
    overflow: hidden;
    position: absolute;
    top: 10%;
    text-transform: uppercase;
}

.widget-EventList section {
    transition: all 2s;
    position: absolute;
    width: 87%;
    height: 52px;
    top: 0px;
    left: 47px;
}

.widget-EventList section:first-child {
    opacity: 1;
    animation: blink-in 2s ease;
}

.widget-EventList section:nth-child(n+2) {
    transform-origin: 0 50%;
    animation: fall-off 3s forwards;
}

.widget-EventList section .tag {
    display: none;
    color: #f37232;
    position: absolute;
}

.widget-EventList section .message {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    height: 37px;
    line-height: 44px;
    text-align: center;
}

.widget-EventList section .event-icon {
    display: inline-block;
    margin-left: 7px;
    width: 109px;
    height: 47px;
}

.widget-EventList section.mixer-follow .event-icon,
.widget-EventList section.mixer-host .event-icon,
.widget-EventList section.merch .event-icon,
.widget-EventList section.donation .event-icon {
    background: url('images/mz.png') center/contain no-repeat;
}

.widget-EventList section.donation .tag {
    display: block;
    width: 71px;
    top: 16px;
    left: 45px;
    font-size: 85%;
    text-align: center;
}

.widget-EventList section.donation .tag:before,
.widget-EventList section.donation .tag:after {
    width: 71px;
}

/* Animación para todos los eventos */
.widget-EventList section {
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

/* Animaciones específicas para el event-icon y message */
.widget-EventList section .event-icon,
.widget-EventList section .message {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Estilos específicos para cada tipo de evento */
.widget-EventList section.mixer-follow {
    background-color: #87CEEB; /* Color para mixer-follow */
}

.widget-EventList section.mixer-host {
    background-color: #FFD700; /* Color para mixer-host */
}

.widget-EventList section.merch {
    background-color: #98FB98; /* Color para merch */
}

.widget-EventList section.donation {
    background-color: #FF6347; /* Color para donation */
}

.widget-EventList section {
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
    animation: move 2s linear infinite; /* Agregamos la nueva animación */
}

/* Animaciones específicas para el event-icon y message */
.widget-EventList section .event-icon,
.widget-EventList section .message {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.glitch,
.glitch2 {
    position: relative;
    animation: blink-in 2500ms ease-in  alternate-reverse; /*infinite-*/
}

.glitch:before,
.glitch:after,
.glitch2:before,
.glitch2:after {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    content: attr(data-text);
    position: absolute;
    top: 0;
    clip: rect(0, 0, 0, 0);
}

.glitch:before,
.glitch2:before {
    left: -1px;
    text-shadow: 3px 0 #00f;
    animation: noise-anim-2 1s ease-out  infinite;
}

.glitch:after,
.glitch2:after {
    left: 1px;
    text-shadow: -3px 0 #400;
    animation: noise-anim 6s ease-in-out  ;
    animation: fall-off 6s forwards;
}

.glitch2:before,
.glitch2:after {
    animation-delay: 1.5s;
}

@keyframes noise-anim {
    0% {
        clip: rect(26px, 9999px, 4px, 0);
    }

    5% {
        clip: rect(20px, 9999px, 10px, 0);
    }

    10% {
        clip: rect(1px, 9999px, 12px, 0);
    }

    15% {
        clip: rect(11px, 9999px, 8px, 0);
    }

    20% {
        clip: rect(5px, 9999px, 5px, 0);
    }

    25% {
        clip: rect(6px, 9999px, 15px, 0);
    }

    30% {
        clip: rect(2px, 9999px, 16px, 0);
    }

    35% {
        clip: rect(5px, 9999px, 4px, 0);
    }

    40% {
        clip: rect(30px, 9999px, 13px, 0);
    }

    45% {
        clip: rect(31px, 9999px, 17px, 0);
    }

    50% {
        clip: rect(18px, 9999px, 26px, 0);
    }

    55% {
        clip: rect(26px, 9999px, 23px, 0);
    }

    60% {
        clip: rect(17px, 9999px, 29px, 0);
    }

    65% {
        clip: rect(8px, 9999px, 3px, 0);
    }

    70% {
        clip: rect(25px, 9999px, 14px, 0);
    }

    75% {
        clip: rect(26px, 9999px, 2px, 0);
    }

    80% {
        clip: rect(19px, 9999px, 17px, 0);
    }

    85% {
        clip: rect(10px, 9999px, 31px, 0);
    }

    90% {
        clip: rect(7px, 9999px, 28px, 0);
    }

    95% {
        clip: rect(12px, 9999px, 12px, 0);
    }

    100% {
        clip: rect(20px, 9999px, 12px, 0);
    }
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(29px, 9999px, 1px, 0);
    }

    5% {
        clip: rect(1px, 9999px, 22px, 0);
    }

    10% {
        clip: rect(15px, 9999px, 20px, 0);
    }

    15% {
        clip: rect(31px, 9999px, 17px, 0);
    }

    20% {
        clip: rect(11px, 9999px, 28px, 0);
    }

    25% {
        clip: rect(15px, 9999px, 28px, 0);
    }

    30% {
        clip: rect(27px, 9999px, 29px, 0);
    }

    35% {
        clip: rect(30px, 9999px, 6px, 0);
    }

    40% {
        clip: rect(15px, 9999px, 17px, 0);
    }

    45% {
        clip: rect(25px, 9999px, 16px, 0);
    }

    50% {
        clip: rect(29px, 9999px, 25px, 0);
    }

    55% {
        clip: rect(20px, 9999px, 18px, 0);
    }

    60% {
        clip: rect(3px, 9999px, 22px, 0);
    }

    65% {
        clip: rect(19px, 9999px, 15px, 0);
    }

    70% {
        clip: rect(7px, 9999px, 31px, 0);
    }

    75% {
        clip: rect(7px, 9999px, 14px, 0);
    }

    80% {
        clip: rect(5px, 9999px, 10px, 0);
    }

    85% {
        clip: rect(15px, 9999px, 6px, 0);
    }

    90% {
        clip: rect(20px, 9999px, 14px, 0);
    }

    95% {
        clip: rect(25px, 9999px, 5px, 0);
    }

    100% {
        clip: rect(25px, 9999px, 31px, 0);
    }
}

@keyframes blink-in {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 0;
    }

    17% {
        opacity: 1;
    }

    19% {
        opacity: 0;
    }

    21% {
        opacity: 1;
    }

    23% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    27% {
        opacity: 0;
    }

    29% {
        opacity: 1;
    }

    31% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    64% {
        opacity: 0;
    }

    65% {
        opacity: 1;
    }

    66% {
        opacity: 0;
    }

    79% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    84% {
        opacity: 1;
    }

    85% {
        opacity: 0;
    }

    89% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fall-off {
    from {
        opacity: 1;
        top: 57px;
    }

    to {
        top: 200px;
        opacity: 0;
    }
}

@keyframes move {
    25% {
        transform: translate(20px, 0);
    }
    50% {
        transform: translate(-20px, 0);
    }
    75% {
        transform: translate(0, 20px);
    }
    100% {
        transform: translate(0, -20px);
    }
}