


.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.content {
    flex: 1;
    align-items: center;
    justify-content: center;
}
.footer {
    padding: 20px;
    background-color: aqua;
    color: aliceblue;
}
.centrar {
    margin: auto;
    text-align: center;
    justify-content: center;
}